@import "tailwindcss";

body,html,#root{
    width: 100%;
    height: 100%;
    background: hsl(0, 3%, 7%);
    /* color: white; */
    font-family: "Manrope";
}

/* .card{
    background: linear-gradient(135deg, #0f0f0f , #e500005e );
} */

.card {
    background: radial-gradient(
        circle at top right,
        rgba(220, 38, 38, 0.35),
        transparent 40%
      ),
      #0f0f0f;
  }

.overlayCard{
    background: linear-gradient(180deg, #00000000, #141414);
}